body {
    background-color: lightblue !important;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #dc3545 !important;
}

.img-main-size {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/*Diseño boton scroll top*/

.scroll-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    background-color: #dc3545;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: white;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    line-height: 0;
    color: #ffffff; 
}
